<div class="home-ctn-gral">
    <div class="header-mobile-ctn">
        <div class="header-home-ctn">
            <div class="logo-capi"></div>
            <div class="user-ctn">
                <div class="icon-user-o icon-menu-user" (click)="menuUser()" ></div>
                <div class="options-user-ctn" [@user-options]="estadoUser">
                    <a href="#" class="opt-user-link" [ngClass]="estadoUser ? 'add-opacity': 'no-opacity'" [routerLink]="['options']">Opciones</a>
                    <a href="#" (click)="logoutEvent()" class="opt-user-link" [ngClass]="estadoUser ? 'add-opacity': 'no-opacity'" >Cerrar Sesión</a>
                </div>
            </div>        
        </div>
        <div class="menu-hamb-btn-ctn" >
            <span class="menu-hamb" (click)="menuOpen()">Menú</span>
        </div>
    </div>
     
    
    <div class="menu-home-ctn" [@disparo]="estadoMenu">        
        <div class="show-menu-ctn" >
            <p-accordion class="prueba" >
                <p-accordionTab header="Registro de empleado">
                    <ul class="links-menu-ctn">
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['listempleado']">Empleados Activos</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['inactiveemployee']">Empleados Inactivos</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['newemployee']">Nuevo Empleado</a></li>
                    </ul>
                </p-accordionTab> 
                <p-accordionTab header="Novedades">
                    <ul class="links-menu-ctn">
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['loadNews']" >Carga General</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['awards']" >Premios</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['presenteeism']" >Presentismo</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['lunch']" >Almuerzos</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['extrahours']" >Horas Extras</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['massacceptance']" >Aceptación Masiva</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['studyday']" >Días de Estudio</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['licenses']" >Licencias</a></li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Vacaciones">
                    <ul class="links-menu-ctn">
                        <li class="link-menu-ctn"><a class="link-menu" href="#">Carga de Vacaciones</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#">Listado de Vacaciones</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#">Vacaciones Gozadas</a></li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Cargas Varias">
                    <ul class="links-menu-ctn">
                        <li class="link-menu-ctn"><a class="link-menu" href="#">Indumentarias</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#">Recibos de Sueldo</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#">Fechas Especiales</a></li>
                    </ul> 
                </p-accordionTab>
                <p-accordionTab header="Reportes">
                    <ul class="links-menu-ctn">
                        <li class="link-menu-ctn"><a class="link-menu" href="#">Novedades</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#">Vacaciones</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#">Cumpleaños</a></li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Administrador">
                    <ul class="links-menu-ctn">
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['newadministrator']" >Nuevo Administrador</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="[ 'listadministrator']">Lista de Usuarios</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#">Respaldar Base de Datos</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['logs']" >Logs Acces</a></li>
                        <li class="link-menu-ctn"><a class="link-menu" href="#" [routerLink]="['assets']" >Assets</a></li>
                    </ul>
                </p-accordionTab>
            </p-accordion>
        </div>
        

    </div>

    <div class="contenido-home-ctn" [ngClass]="estadoMenu ? 'no-opacity add-class': 'add-opacity add-class2'">

        <router-outlet></router-outlet>

    </div>
    <div class="cl-menu"></div>
    <div class="cl-content"></div>

</div>


