@import "../../../variables";

.searchbyemp-sector-father-ctn{
  @include mq($mw-1024){
    width: 35rem;
    height: 18rem;
    background-color: #FDFCFC;
    display: grid;
    grid-template-rows: 3rem 10rem 5rem;
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 6px;
    border-top: 4px solid $cl-prin;
    box-shadow: $shadow2;
  }
}

.searchbyemp-sector-title-ctn{
  @include mq($mw-1024){
    grid-row: 1/2;
    align-self: center;
    padding-left: 1rem;
  }
}

.searchbyemp-sector-title{
  @include mq($mw-1024){
    font-family: $ft-sec;
    font-size: 1.4rem;
    font-weight: lighter;
    color: gray;
    letter-spacing: 2px;
  }
}

.searchbyemp-sector-main-ctn{
  @include mq($mw-1024){
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 15% 5% 80%;
    grid-template-rows: 2rem 1rem 2rem;
    align-self: center;
  }
}

.searchbyemp-sector-title-nameCli, .searchbyemp-sector-title-id{
  @include mq($mw-1024){
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.searchbyemp-sector-select, .searchbyemp-sector-select-group{
  @include mq($mw-1024){
    width: 90%;
    height: 2rem;
    margin-left: 1rem;   
  }
}

.searchbyemp-sector-title-nameCli{
  @include mq($mw-1024){
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.searchbyemp-sector-select{
  @include mq($mw-1024){
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.searchbyemp-sector-title-id{
  @include mq($mw-1024){
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.searchbyemp-sector-select-group{
  @include mq($mw-1024){
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

.searchbyemp-sector-footer-ctn{
  @include mq($mw-1024){
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $cl-oct;
  }
}
