<div class="searchbyemployee-father-ctn">
    <div class="searchbyemployee-title-ctn">
        <h4 class="searchbyemployee-title">
            Buscar por Legajo
        </h4>
    </div>
    <div class="searchbyemployee-main-ctn">
        <h5 class="searchbyemployee-title-nameCli title-no-label">
            Nombre:
        </h5>
        <select name="" id="" class="searchbyemployee-select input-nov"></select>
        <h5 class="searchbyemployee-title-id title-no-label">
            Legajo:
        </h5>
        <input type="number" class="searchbyemployee-input-id input-nov" placeholder="Ingrese número de legajo">
        <h5 class="searchbyemployee-title-nameEmp title-no-label">
            Empleado:
        </h5>
        <input type="text" class="searchbyemployee-input-nameEmp input-nov" placeholder="Ingrese nombre de empleado">

    </div>
    <div class="searchbyemployee-footer-ctn">
        <button type="button" class="btn-blue">Buscar</button>
    </div>
</div>
