<div class="title-and-navbar-ctn">
    <app-title
            [title]="'Aceptación Masiva de Novedades'"
    ></app-title>
</div>

<div class="news-father-ctn">
    <div class="news-box1-ctn">
        <app-searchbyperiod-news
            [period]="'Período:'"
        ></app-searchbyperiod-news>
    </div>
    <div class="news-box2-ctn">
        <app-searchbyemp-sector-group-news></app-searchbyemp-sector-group-news>
    </div>
    <div class="news-box3-ctn">

    </div>
    <div class="news-box4-ctn">

    </div>
</div>


