@import "../../../variables";

.grid-table-ctn{
  width: 80%;
  margin: 1rem auto 0;
  border-radius: 6px;
  box-shadow: $shadow;
}

.cabecera-grig-table-ctn{
  border: 1px solid $cl-ter;
  border-radius: 6px 6px 0 0;
  background-color: $cl-prin;

}

.contenido-grid-table-ctn{
  border: 1px solid $cl-ter;
}

.contenido-grid-table-ctn:last-child{
  border-radius: 0 0 6px 6px;
}

.cabecera-table-ctn{
  background-color: $cl-prin;
}

.cabecera-item{
  font-family: $ft-prin;
  font-weight: bold;
  letter-spacing: 1px;
  color: $cl-sec;
}



.contenido-table-ctn, .cabecera-table-ctn{
  display: flex;
}

.contenido-table-ctn:hover  .contenido-item{
  color: $cl-ter;
  cursor: default;
}

.contenido-table-ctn:nth-child(odd){
  background-color: $cl-sec;
}

.contenido-table-ctn:nth-child(even){
  background-color: $cl-quin;

}

.contenido-item-ctn, .cabecera-item-ctn{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap;
  border-left: 1px solid $cl-ter;
  height: 2rem;

}

.contenido-item-ctn:first-child, .cabecera-item-ctn:first-child{
  border-left: none;
}
.cabecera-table-ctn{
  border-radius: 5px 5px 0 0;
}

.contenido-table-ctn:last-child{
  border-radius: 0 0 5px 5px;

}

.contenido-item{
  color: #424242;
  font-family: $ft-prin;
  font-size: .9rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.icon-id-card-o{
  font-size: 1.5rem;
  font-weight: normal;
  cursor: pointer;
}

.pequenio{
  width: 15rem;
}

.mediano{
  width: 20rem;
}

.grande{
  width: 60%;
}

.cabecera-item-ctn:nth-child(1){
  width: 20rem;
}

.cabecera-item-ctn:nth-child(2){
  width: 20rem;
}

.cabecera-item-ctn:nth-child(3){
  width: 20rem;
}

.cabecera-item-ctn:nth-child(4){
  width: 20rem;
}

.cabecera-item-ctn:nth-child(5){
  width: 20rem;
}

.cabecera-item-ctn:nth-child(6){
  width: 20rem;
}

.cabecera-item-ctn:nth-child(7){
  width: 20rem;
}

.cabecera-item-ctn:nth-child(8){
  width: 15rem;
}

.pag{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}



.tooltip {
  position: relative;
  display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
  display: none;
  @include mq($mw-1024){
    display: block;
    visibility: hidden;
    width: 80px;
    background-color: $cl-cuar;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: $ft-sec;
    font-size: .7rem;
    letter-spacing: 1px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 0px;
    right: -6rem;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent $cl-cuar transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.green{
  color: #06A012;
}

.red{
  color: #C62414;
}

.icon-user-circle-o, .icon-user-o{
  font-size: 1.3rem;
  font-weight: lighter;
}
